
.dashboard-top {
    display: flex;
    align-content: center;
    position: relative;
}

.dashboard-buttons {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 0px;
}
.dashboard-button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-width: 100px;
    height: 30px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.dashboard-button.start {
    background-color: #2ecc71;
}
.dashboard-button.stop {
    background-color: #e74c3c;
}
.dashboard-button.kill {
    background-color: #c0392b;
}

.console {
    width: calc(100% - 10px);
    background-color: #222f3e;
    padding: 5px;
    border-radius: 5px;
    height: 500px;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}